.u-section-1 {
  background-image: linear-gradient(#55d9e6, #002144);
}

.u-section-1 .u-sheet-1 {
  min-height: 1423px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 600;
  margin: 0 300px 0 0;
}

.u-section-1 .u-image-1 {
  width: 941px;
  height: 833px;
  margin: 10px auto 0 -50px;
}

.u-section-1 .u-list-1 {
  min-height: 366px;
  grid-template-rows: repeat(1, auto);
  width: 852px;
  margin: -744px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  grid-auto-rows: 100%;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,49,51,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,49,51,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,49,51,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 116px;
  width: 116px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 250px;
  animation-duration: 1000ms;
  margin: 332px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
    width: auto;
    margin-top: 75px;
    margin-right: 198px;
  }

  .u-section-1 .u-image-1 {
    width: 734px;
    height: 639px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1090px;
    width: 503px;
    height: auto;
    margin-top: -681px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-auto-rows: calc(50% - 15px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: -198px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-bottom: -198px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-bottom: -198px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -534px;
    margin-left: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3363px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 627px;
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    min-height: 928px;
    width: 720px;
    margin-top: -548px;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3054px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 470px;
    margin-top: -135px;
  }

  .u-section-1 .u-list-1 {
    min-height: 2088px;
    width: 540px;
    margin-top: -389px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1878px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    height: 296px;
    margin-top: 853px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    min-height: 1315px;
    margin-top: -1149px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: calc(25% - 22.5px);
  }

  .u-section-1 .u-shape-1 {
    width: 97px;
    height: 97px;
    margin-top: -226px;
    margin-left: 38px;
  }
}